<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Mi Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list *ngFor= "let day of days">
      <ion-list-header style= "font-size: large; background-color: white; color: black">
        {{day}}
      </ion-list-header>
      <ion-item  *ngFor= "let subject of getSubjectsByDay(day)">
        <ion-label>
          {{subject.name}}
        </ion-label>
        <ion-label>
          {{subject.hour}}
        </ion-label>
      </ion-item>
    </ion-list>
    
  </ion-list>

</ion-content>
